::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 90px;
}

.sky {
    width: 500px;
    height: 580px;
    position: absolute;
    background-image: url("img/fb-game-background.png");
}

.ground {
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    background-image: url("img/bottom-background.png");
    z-index: 1;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    transform: translateX(0%);
}

.bird {
    background-image: url("img/flappy-bird.png");
    position: absolute;
    height: 45px;
    width: 60px;
}
.obstacle {
    background-image: url("img/flappybird-pipe.png");
    width: 60px;
    height: 300px;
    position: absolute;
}
.topObstacle {
    background-image: url("img/flappybird-pipe.png");
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

.border-left {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
}

.border-right {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: #fff;
    z-index: 2;
    left: 580px;
}

.border-top {
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: #fff;
    z-index: 2;
    top: -50px;
}

.game-over {
    border-radius: 5px;
    width: 250px;
    height: 100px;
    position: absolute;
    left: 13%;
    top: 40%;
    background-color: rgb(72, 214, 62);
    display: none;
}

.game-over h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #fff;
}

.game-over button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 80px;
    top: 50px;
    background-color: rgb(211, 105, 105);
    border: none;
}